/* Header CSS: */

.pres-nav-wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 72px;
	color: #222;
	border-bottom: 2px solid $wheat;
}

.pres-nav__title {
	h1 {
		font-size: 42px;
		font-family: $playfair;
		font-weight: 600;
		text-transform: uppercase;
		//text-shadow: 2px 2px 4px hsla(0,0%,0%,.5);
		a {
			color: $wheat;
			text-decoration: none;
			transition: color .3s;
			&:hover, &:focus {
				color: $wheat;
			}
		}
	}
	@media screen and (max-width: 600px) {
		h1 {
			font-size: 32px;
		}
	}
}