/* Front Page Timeline Styles: */

.front-page-wrapper {
	position: relative;
	display: grid;
	grid-template-areas: 'title title title'
						 'entries lines tl';
	grid-template-columns: 4fr 1fr 1fr;
}

.front-page_title {
	grid-area: title;
}

// tl wrapper
.front-page-entries {
	grid-area: entries;
	position: relative;

}

ul.tl-entries-wrapper {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}

li.tl-entry {
	border: 2px solid black;
}

.tl-entry__title {

}

.tl-entry__img {
	img {
		max-height: 300px;
		width: auto;
	}
}

.tl-entry__meta {

}

.tl-meta__party {

}

.tl-meta__elections {

}

.tl-meta__term {

}

.tl-meta__age {

}

.tl-meta__vp {

}

.tl-entry__achieve {

}

.front-page-lines {
	grid-area: lines;
	border: 1px solid red;
}

.front-page-tl {
	grid-area: tl;
	border: 1px solid blue;
}

.tl__line {

}