/* Front Page Timeline Styles: */

.front-page-wrapper {

}

.front-page_title {

}

// tl wrapper
.front-page-tl {

}

ul.tl-entries-wrapper {
	margin-left: 0;
	list-style-type: none;
}

li.tl-entry {
	border: 2px solid black;
}

.tl-entry__title {

}

.tl-entry__img {
	img {
		max-height: 300px;
		width: auto;
	}
}

.tl-entry__meta {

}

.tl-meta__party {

}

.tl-meta__elections {

}

.tl-meta__term {

}

.tl-meta__age {

}

.tl-meta__vp {

}

.tl-entry__achieve {

}

.front-page-lines {

}

.front-page-tl {

}

.tl__line {

}