/* Single President Page: */

.single-pres-wrapper {
	position: relative;
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-template-areas: 'title pic'
						 'meta pic'
						 'achieve achieve'
						 'nav nav';
	margin: 0;
	padding: 3rem 8.33%;
	color: #222;
	font-family: $poppins;
	@media screen and (max-width: 600px) {
		padding: 3rem 4.167%;
	}
	@media screen and (max-width: 768px) {
		grid-template-columns: 1fr;
		grid-template-areas: 'title'
							 'pic'
							 'meta'
							 'achieve'
							 'nav';
		justify-content: center;
	}
}

.single-pres__title {
	grid-area: title;
	h1 {
		font-family: $poppins;
		margin-top: 0;
		font-weight: 900;
		line-height: 1;
		@media screen and (min-width: 600px) {
			font-size: 2.5rem;
		}
	}
	@media screen and (max-width: 768px) {
		display: inline-block;
		margin: 0 auto;
	}
}

.single-pres__pic {
	grid-area: pic;
	margin: 0 auto;
	img {
		max-height: 400px;
		width: auto;
		max-width: 100%;
		box-shadow: 4px 4px 0 $purple;
	}
}

.single-pres__meta {
	grid-area: meta;
	position: relative;
//	display: inline-block;
	align-self: center;
	display: flex;
	flex-flow: column nowrap;
	padding: 1.5em;
	border: 2px solid $purple;
	span:first-of-type {
		font-weight: 900;
	//	width: 230px;
	}
	span:last-of-type {
		font-weight: 300;
		color: hsla(0, 0%, 50%, 1);
		padding-left: 1em;
	}
	@media screen and (max-width: 600px) {
		span:first-of-type {
			width: 180px;
		}
		span:last-of-type {
		//	width: 150px;
		}
		span {
			justify-content: flex-start;
		}
	//	max-width: 300px;
		margin: 0 auto;
	}
	@media screen and (max-width: 768px) {
		margin-top: 3rem;
	}
	@media screen and (min-width: 600px) {
		font-size: 18px;
	}
	@media screen and (min-width: 1200px) {
	//	font-size: 20px;
	}
}

.single-pres-meta-title {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	font-family: $poppins;
	font-weight: 900;
	transform: translate(1em, calc((-1.5 * 1em) + 9px));
	color: $purple;
	@media screen and (min-width: 768px) {
		font-size: 2rem;
		transform: translate(1em, calc((-1.5 * 1em) + 11px));
	}
}

[class*="single-pres-meta__"] {
	display: flex;
	margin: .25em 0;
	justify-content: space-between;
	@media screen and (max-width: 600px) {
		flex-flow: row nowrap;
		justify-content: flex-start;
	}
}

.single-pres-meta__party {

}

.single-pres-meta__elections {

}

.single-pres-meta__term {

}

.single-pres-meta__age {

}

.single-pres-meta__vp {

}

.single-pres__achievements {
	grid-area: achieve;
}

.single-pres-achievements__title {
	font-weight: 900;
	color: $purple;
	border-bottom: 2px solid $purple;
	@media screen and (min-width: 768px) {
		font-size: 2rem;
	//	transform: translate(1em, 0);
	}
}

.single-pres-achievements__content {
	max-width: 900px;
	margin: 0 auto 0 0;
	color: #222;
	ul {
		position: relative;
		margin-left: 0;
		padding-left: 0;
		list-style-type: none;
		li {
			margin-bottom: .25em; /* MAKE LIST STYLES HERE */
			&::before {
				content: '';
				position: absolute;
				height: 6px;
				width: 6px;
				transform: translate(-1em, .5em);
				background-color: $purple;
				border-radius: 50%;
			}
		}
	}
	@media screen and (min-width: 600px) {
		font-size: 18px;
	}
	@media screen and (max-width: 768px) {
		ul {
			margin-left: 1em;
		}
	}
}

.single-pres__nav {
	grid-area: nav;
}

.nav-subtitle {

}

.nav-title {

}

.nav-subtitle {

}

.nav-title {

}

.nav-links {
	justify-content: space-between;
	width: 100%;
	a {
		font-weight: 900;
		text-decoration: none;
		border-bottom: 0px solid #222;
		color: #222;
		transition: color .3s;
		&:hover, &:focus {
			color: $purple;
		}
	}
}