// external
@import '_scss/_ext/header';
@import '_scss/_ext/underscores';


/* ************************** KATHERINE'S STYLES BELOW *************************/

// vars
@import '_scss/_vars/colors';
@import '_scss/_vars/fonts';

body {
	box-sizing: border-box;
	margin: 0;
	font-family: $poppins;
	p {
		line-height: 1.5;
	}
	a {
		text-decoration: none;
	}
}

// includes
@import '_scss/_includes/header';

// layouts
@import '_scss/_layouts/single-pres';